.king{
  background-color: #222222;
  height: 90px;
  color:#dfca0d;
  text-align: center;
  border: 10px solid #000000;
}

.boss{
  background-color: #222222;
  height: 910px;
  color:#fafafa;
  text-align: center;
  border: 10px solid #000000;
}

.boss img{
  margin-top: 50px;
 
  width:300px;
}

.boss input{
  margin-top:20px;
  height:50px;
  font-size: 20px;
  background-color: #ffffff;
  border: 3px solid #dfca0d;
  border-radius: 50px;
}

.boss button{
  margin-top: 20px;
  height: 50px;
  background-color: #dfca0d;
font-weight: bold;
border-radius: 50px;
width:100px;
}